.scroll-down {
    position: absolute;
    bottom: 20px;
    font-size: 2rem;
    color: black;
    animation: bounce 2s infinite;
}

.arrow-down {
    animation: bounce 2s infinite;
    cursor: pointer;
    z-index: 10;
    color: black;
}

/* Animación suave tipo “rebote” */
@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }
}