/* transparencia.css */
.transparencia {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.transparencia-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
}