:root {
  --color-vino: #901b45;
  --color-mostaza: #c6943d;
  --color-fondo: #fef9ec;
  --color-blanco: #ffffff;
  --color-dorado-institucional: #C2995C;
  --color-dorado-oscuro-institucional: #81663f;
  --color-gris-oscuro-institucional: #2D2829;
  --color-matiz-azulado: #eef2f5;
  --color-verde-institucional: #377739;
  --color-gris-claro: #f1f1f1;
}

@font-face {
  font-family: 'Lato';
  src: url('/public/fonts/Lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/public/fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/public/fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background: var(--color-blanco);
  color: #333;
}

/* color de las titulos del navbar */
.navbar-nav a {
  color: var(--color-vino) !important;
}

/* color de fondo del navbar */
.bg-body-tertiary.navbar {
  background-color: var(--color-fondo) !important;
}

h2.centrado {
  text-align: center;
}


footer {
  background: var(--color-vino);
  color: white;
  text-align: center;
  padding: 2rem;
}

.logo-img {
  max-width: 50%;
  height: auto;
}

section:not(.hero) {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: auto;
}

.title-section {
  text-align: center;
  color: var(--color-mostaza);
}

.button-btn-vino {
  background-color: var(--color-vino);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.button-btn-vino:hover {
  background-color: #6d1233;
}

.button-btn-modal-detalle {
  float: right;
  background-color: var(--color-vino);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.button-btn-modal-detalle:hover {
  background-color: #6d1233;
}




