/* InputFiltroTabla.css */

.contenedor-filtro {
  display: flex;
  justify-content: flex-end;
  /* <- alinea a la derecha */
  margin-bottom: 10px;
}

.input-filtro-tabla {
  margin-bottom: 10px;
  padding: 6px 12px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: "4px"
}